/*Selector {Property:value;}
*/

p {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    font-size: 80%0;
    font-family: 'Open Sans Condensed';
    color: white;
    text-align: center;
}
body {
    background-image: url(rain.jpg);
    background-size: cover;
}

h2 {
    font-style: oblique;
    font-family: 'Dosis';
    text-align: center;
    border-bottom: 2px solid green;
    border-right: 2px solid orange;
    width: 100px;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
    color: white;
    text-align: center;
}

h1 {
    font-style: oblique;
    font-family: 'Dosis';
    text-align: center;
    border-bottom: 2px solid green;
    border-right: 2px solid orange;
    width: 400px;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
    color: white;
}

ul {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    font-size: 80%0;
    font-family: 'Open Sans Condensed';
    color: white;
}

h3 {
   text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    font-size: 80%0;
    font-family: 'Open Sans Condensed';
    color: white;
    text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: green;
  text-align: right;   
  border: solid; color: olive;
}


.flex-container > div {
  background-color: green;
  width: 50px;
  margin: 10px;
  line-height: 15px;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
  font-size: 15px;     
}

footer {
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    font-size: 80%0;
    font-family: 'Open Sans Condensed';
    color: white;
    text-align: left;  
}