
 body {
   background: url("clear.jpg");
   background-size: cover;
 }

 p {
   color: white;
   font-size: 24px;
 }

 h3 {
   color: white;
 }
h2
{
  color: white;
}

#About {
  background-color: rgb(3, 58, 53); opacity: 0.8;
}

 html {
   max-width: 100%;
   max-height: 100%;
   font-family: 'Crimson Text', serif;}  

   #portfolio {
    background-color: rgb(3, 58, 53); opacity: 0.9;
  }

  header {
    font-size: 42px;
    color: white;
  }
  ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(4, 53, 53);
  }

  li {
    position: relative;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    display: block;
      }
  
  li a {
  display: block;
  color: white;
  text-decoration: none;
}

  li a:hover {
        background-color: rgb(10, 90, 82);
      }
 
      #quote {
        color: white;
      }



#LinkN {
  background-color: rgb(10, 90, 82);
}

  #Portimg {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
  }

  img:hover{
    transform: scale(1.1);
}

button {
  background-color:#0077B5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}


#contact {
  background-color: rgb(10, 90, 82);
}