*{
 
}

body {
    background-image: url(clear.jpg);
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: 150px 500px;
    grid-template-rows: repeat(1, 0, 100px);
    grid-gap: 1em;    
}

header,
aside,
article,
footer {    
  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

    
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: green;
  text-align: right;   
  border: solid; color: olive;
}

a {
    color: white
}

.flex-container > div {
  background-color: green;
  width: 50px;
  margin: 10px;
  line-height: 15px;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
  font-size: 15px;     
} 

   text-align: center;
}
body{background-image: url(rain.jpg);
background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

div {
    width: 800px
    height:600px   
  }

h1 {text-align: center;
    color: white;
    font-style: oblique;
    font-family: 'Dosis';
}

section {
    content: "";
    display: table;
    clear: both;    
    color: lawngreen;
    text-align: center;
    font-style: oblique;
    font-family: 'Dosis';
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 { 
color:white;
text-align: left;
cursor: pointer;     
}

p { 
 color: white;
 text-emphasis: 20px; 
 text-align: left; 
 font-family: Arial, Helvetica, sans-serif; 
 font-family: 'Dosis';    
}

li{list-style: none;
color: aqua;
display: inline-block;
}

#btn-group button {
    background-color: black; 
    border: 1px solid gray;
    color: white;    
    float: left;
    width: 120px;
    opacity: 0.8;
    
}

.grid div:nth-child(even){ 
}

.grid div:nth-last-child(odd){ 
    }

@media screen and (min-width: 736px)
{
    .grid {
    display: grid;
    grid-template-columns: 150px 500px;
    grid-template-rows: repeat(1, 0, 100px);
    grid-gap: 1em;    
}

header,
aside,
article,
footer {   
  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}
 
}        


