*{
 margin: 0;
 padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title title"
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    grid-gap: 10px    
}

.title {
  grid-area: title;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
      
}

.footer {
  grid-area: footer;
}
    

.grid div:nth-child(even){
    background-color: aquamarine;   
}

.grid div:nth-last-child(odd){ 
    background-color: green;
    }

@media screen and (min-width: 736px)
{
   .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". nav main ."
    ". footer footer ."
}
}        


}