.flex-container {
  display: flex;
  flex-direction: row;
  background-color: green;
  text-align: right;   
  border: solid; color: olive;
}


.flex-container > div {
  background-color: green;
  width: 50px;
  margin: 10px;
  line-height: 15px;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
  font-size: 15px;     
}  